DATABASE_URL=
ANTHROPIC_API_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_TO_EMAIL=timgoh98@gmail.com
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_ALLOWLIST=tGoh98
CRON_SECRET=
DIGEST_WEBHOOK_SECRET=
